h5{
    font-size: 30px;
   
}
.card-body{
    text-align: center;
}
.card{
    border-radius: 15px;
}
.bi-telephone{
    color: green;
}
.fa-address-book-o{
    color: 	#00BFFF;
}
.bi-person{
    color: #008080;

}

.bi-calendar-date{
    color: #008080;

}

.bi-clock{
    color: #008080;
}