<div class="container mt-5">
    <h1 class="display-3 mb-0">Tradição em alta gastronomia <i class="fa fa-pagelines" aria-hidden="true"></i></h1>

    <div class="elements row mb-5">

      
        <div class="text1 col-sm">
            <div class="text-apoio">
                <section>
                    <p class="lead"> Requinte e elegância em um ambiente acolhedor e descontraído, firmou-se como um dos melhores restaurantes da cidade. Fica no Centro Histórico de Fortaleza, pertinho da Caixa Cultural e do Centro Dragão do Mar de Arte e Cultura.

                        O Giargino é composto por vários  ambientes: um aconchegante restaurante climatizado com pé direito duplo e vista para o jardim, um mezanino mais reservado, um bar interno. No jardim, plantas, lounges integrados, espelhos d’água e um bar ao ar livre </p>
                </section>
            </div>
           
        </div>

      


</div>