<div class="container">

    <div class="text-apresentacao">
        <h1 class="display-4">Nada melhor para esquentar o frio da serra.. <i class="fa fa-cutlery" aria-hidden="true"></i></h1>
    </div>

    <div class="elements row mt-5">

        <div class="imagem col-md-6 col-sm-12  mb-2"></div>

        <div class="texto col-md-6 col-sm-12 mt-2">
            <h3 class="">Caldos de primeira..</h3>
            <p class="lead">
                Entrada: Como o churrasco pode demorar um pouco para começar a ser servido, é interessante você pensar
                em alguns petiscos de entrada para oferecer às visitas. Eu, particularmente, gosto de fazer um coquetel
                com castanhas, amendoins, damascos, passas de uva etc. Outra opção bacana também é você servir uns
                nachos (pode usar Doritos mesmo) com molhos de sua preferência.

                Bebida: última das variáveis mas certamente uma das mais importantes. Dependendo do país e do estado que
                você estiver, a escolha das bebidas será distinta. Como o objetivo deste artigo não é explorar o tema
                bebida em churrascos, vou me ater a dividir com vocês o que costumo servir nos meus churrascos.
            </p>
        </div>


        <div class="texto col-md-6 col-sm-12 mt-2">
            <h3 class="">Os melhores ingredientes..</h3>
            <p class="lead">
                Entrada: Como o churrasco pode demorar um pouco para começar a ser servido, é interessante você pensar
                em alguns petiscos de entrada para oferecer às visitas. Eu, particularmente, gosto de fazer um coquetel
                com castanhas, amendoins, damascos, passas de uva etc. Outra opção bacana também é você servir uns
                nachos (pode usar Doritos mesmo) com molhos de sua preferência.

                Bebida: última das variáveis mas certamente uma das mais importantes. Dependendo do país e do estado que
                você estiver, a escolha das bebidas será distinta. Como o objetivo deste artigo não é explorar o tema
                bebida em churrascos, vou me ater a dividir com vocês o que costumo servir nos meus churrascos.
            </p>
        </div>
        <div class="imagem2 col-md-6 col-sm-12  mb-2"></div>

     
    </div>



</div>

<div class="container2">
    <div class="img"></div>


    <section class="mt-5 section1">

        <div class="text-oqTemos">
            <h1 class="display-4">O que temos para você?</h1>
        </div>

        <div class="row apr">

            <!-- <div class="teste1 col-sm">
                <div class="carn1"></div>
            </div>
            <div class="teste2 col-sm">
                <div class="carn2"></div>
            </div>
            <div class="teste3 col-sm">
                <div class="carn3"></div>
            </div> -->


            <div class="soup1 col-sm"></div>
            <div class="soup2 col-sm"></div>
            <div class="soup3 col-sm"></div>
            
        </div>

        <div class="text-pos-image mt-4">
            <div class="row">
                <div class="text01 col-sm lead">
                    <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis.

                        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur.</p>
                </div>

                <div class="text01 col-sm lead">
                    <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum.

                        Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit luctus sem adipiscing elit.</p>
                </div>
            </div>
        </div>

    </section>


    <div class="menu" (click)="goCardapio()">
        <a class="btn-cardapio">Cardápio</a>
    </div>
    
    <div class="footer card">
        <section>
           
<footer-component></footer-component>   
        </section>
    </div>
</div>