.container{
    margin: 0 0 0 0;
    padding: 0;
    // border: 2px solid red;

  
  
    
}
.capa{
     // background: url(https://images.pexels.com/photos/3184465/pexels-photo-3184465.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
     background: url(https://images.pexels.com/photos/4551835/pexels-photo-4551835.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
   
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     height: 100vh;
     width: 100vw;
     right: 0;
     
}

.text-capa{
    // text-align: center;
    margin: 0 0 0 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
    
  
}   
.text-capa h1{
    font-size: 90px;
}

.card{
    width: 100vw;
    // border: 3px solid blue;
    height: auto;
    border: none;
}

.apresentacao{
    background-color: black;
   
 
    
    border-radius: none;
}
.footer{
    background-color: #3c342f;
    border-radius: none;
}
