<div class="container">
    <div class="capa">
        <nav-bar></nav-bar>
            <div class="text-capa">
                <div class="text-apresentacao">
                    <h1 class="display-4">MESA PARA DOIS</h1>
                    <p class="lead">Came and visit us!</p>
                </div>
                <div class="botoes">
                    <button type="button" class="btn btn-dark" routerLink="/reserva">Reservar Mesa</button>
                </div>
            </div>
    </div>
    
    <div class="card">
        <section>
           <card></card> 
        </section>
    </div>



    <div class="apresentacao card">
        <section>
            <apresentacao></apresentacao>
        </section>
    </div>

    <div class="card">
        <section>
           <maps></maps>
        </section>
    </div>


    <div class="footer card">
        <section>
           
<footer-component></footer-component>   
        </section>
    </div>

  
 
</div> 


