<div class="container mt-5">
    <h1 class="display-3 mb-0">O que nós servimos?</h1>

    <div class="elements row mb-5">

      
        <div class="text1 col-sm" (click)="goSteack()">
            <p class="display-4" >STEAK</p>
        </div>

        <div class="text2 col-sm" (click)="goSoup()">
            <p class="display-4" >SOUP</p>
        </div>

        <div class="text3 col-sm" (click)="goPastas()">
            <p class="display-4">PASTAS</p>
        </div>
    </div>

    <div class="text-apoio mb-4">
        <section>
            <p class="lead">A clássica cozinha italiana ganha um toque contemporâneo no Zucco Restaurante, que tem massas frescas preparadas artesanalmente, ingredientes de primeira linha e muito cuidado com os detalhes. O ambiente agradável e o serviço sofisticado dão o tom dos momentos no restaurante, tornando-o a opção perfeita para desfrutar de uma ótima gastronomia no almoço ou jantar. Além das tradicionais massas, servimos carnes, peixes e aves saborosos.</p>
        </section>
    </div>
</div>