
<div class="container mt-5">

    <div class="elements row mb-5">

        <div class="bloco1 col-sm">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>


            <div class="text1 mt-5">
                <h5 class="lead mb-4"><strong>Location</strong></h5>

                <p class="lead">Petrópolis<br>
                    376 Rua do Imperador<br>
                    Rio de Janeiro, RJ — 11231<br>
                    (024) 0000-0000</p>
            </div>
          

            <p class="lead mt-5"> <strong> Powered by Y0SHYY</strong></p>
        </div>
     

        <div class="bloco3 col-sm mt-5">
           

            <div class="text1 mt-5">
                <h5 class="lead mb-4"><strong>Hours</strong></h5>

                <p class="lead">Segunda — Quinta<br>
                    8:00 — 23:00<br>
                   Sexta — Domingo<br>
                    11:00 — 23:00</p>
            </div>
          

        </div>
      
      


</div>