.row{
    margin: 5% 0 0 0 ;
}
// .col{
//     border: 1px solid #C0C0C0;
//     margin: 6.5px;
//     border-radius: 10px;
//     background-color: white;
// }
.col-sm{
    // border: 1px solid #C0C0C0;
    margin: 6.5px;
    background-color:none;
}
i{
    color: white;
    font-size: 27px;
    margin: 5px;
    cursor: pointer;
}
.lead{
    color: white;
}




